[user]
	email = monkeyandres@protonmail.com
	name = Andres Martin Angulo
	signingkey = A8FB8DA00C8142F3

[github]
	user = MonkeyAndres

[color]
	ui = auto

[log]
	decorate = short

[rebase]
	autostash = true

[pull]
	rebase = true

[commit]
	gpgsign = true
