# lobe-chat.container
[Unit]
Description=LobeChat WebUI

[Container]
ContainerName=lobe-chat
Environment=OPENAI_API_KEY=sk-xxxx OPENAI_PROXY_URL= ACCESS_CODE=lobe66
Image=docker.io/lobehub/lobe-chat
Network=host
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
